
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Serif+Display&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;1,6..12,900&display=swap');
body {
  background: #000 !important;
  font-family:'DM Serif Display', serif !important;
}


.text-entry{
  font-size:60px;
}

.label-title{
  color: #e1d5d5;
}